@using RightpointLabs.ConferenceRoom.Domain
@model IEnumerable<RightpointLabs.ConferenceRoom.Domain.Models.Entities.DeviceEntity>
@{
    var buildings = (Dictionary<string, string>)ViewBag.Buildings;
    var rooms = (Dictionary<string, string>)ViewBag.Rooms;
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ControlledRoomIds)
        </th>
        <th>Hostname</th>
        <th>Addresses</th>
        <th>Skew</th>
        <th>Last Seen</th>
        <th>TZ</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Id
        </td>
        <td>
            @(null == item.BuildingId ? "" : buildings.TryGetValue(item.BuildingId))
        </td>
        <td>
            @string.Join(", ", (item.ControlledRoomIds ?? new string[0]).Select(_ => rooms.TryGetValue(_)))
        </td>
        @if (item.ReportedState == null)
        {
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        }
        else
        {
            <td>@item.ReportedState.Hostname</td>
            <td>@string.Join(", ", item.ReportedState.Addresses)</td>
            <td>@item.ReportedState.ServerUtcTime.Subtract(item.ReportedState.ReportedUtcTime)</td>
            <td>@DateTime.UtcNow.Subtract(item.ReportedState.ServerUtcTime)</td>
            <td>@item.ReportedState.ReportedTimezoneOffset</td>
        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Status", "Status", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Refresh", "Refresh", new { id = item.Id })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Refresh All", "Refresh")
| @Html.ActionLink("Status All", "Status")
