@model Tuple<RightpointLabs.ConferenceRoom.Domain.Models.Entities.DeviceEntity, RightpointLabs.ConferenceRoom.Domain.Models.DeviceStatus[]>

@if (Model.Item1 != null)
{
    <h4>@Model.Item1.Id</h4>
}
@{
    var tz = (TimeZoneInfo)TimeZoneInfo.FindSystemTimeZoneById(ViewBag.Organization.TimeZoneId);
}

<table class="table">
    <thead>
    <tr>
        @if (Model.Item1 == null)
        {
            <th>Device</th>
        }
        <th>StatusTimestamp</th>
        <th>Temperature1</th>
        <th>Temperature2</th>
        <th>Temperature3</th>
        <th>Voltage1</th>
        <th>Voltage2</th>
        <th>Voltage3</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var row in Model.Item2)
    {
        <tr>
            @if (Model.Item1 == null)
            {
                <td>@row.DeviceId</td>
            }
            <td>@TimeZoneInfo.ConvertTime(row.StatusTimestamp, tz)</td>
            <td>@row.Temperature1</td>
            <td>@row.Temperature2</td>
            <td>@row.Temperature3</td>
            <td>@row.Voltage1</td>
            <td>@row.Voltage2</td>
            <td>@row.Voltage3</td>
        </tr>
    }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
