@model RightpointLabs.ConferenceRoom.Domain.Models.Entities.OrganizationEntity
@{ ViewBag.Title = "Organization: " + Model.Id; }

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JoinKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinKey, "Password")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDomains)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDomains, "StringArray")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Administrators)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrators, "StringArray")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeZoneId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeZoneId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarnNonStartedMeetingDelay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarnNonStartedMeetingDelay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoCancelNonStartedMeetingDelay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoCancelNonStartedMeetingDelay)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Edit JoinKey", "EditJoinKey", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
